<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap" rel="stylesheet">

	<link rel="stylesheet" th:href="@{/css/newblog.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/edit.css}">
</head>

<body>
	<header>
		<h1 class="logo" 　th:href="@{/user/blog/main}">

		</h1>
		<ul class="nav-list">
			<li class="nav-item"><a th:href="@{/user/blog/main}">ホーム</a></li>
			<li class="nav-item"><a th:href="@{/user/newblog}">新規投稿</a></li>
			<li class="nav-item"><a th:href="@{/user/blog/delete/list}">削除画面</a></li>
			<li class="nav-item"><a th:href="@{/user/blog/logout}">ログアウト</a></li>
		</ul>
		</nav>
	</header>

	<main>
		<div>
			<h1 class="newblog-title">ブログ編集</h1>
		</div>
		<div class="edit">
			<div class="edit-content">
				<img th:src="@{/images/{items}(items=${blogList.blogImage})}">
			</div>
		</div>
		<form th:action="@{/user/blog/update}" method="post" enctype="multipart/form-data">
			<table class="newblog-table">
				<tr>
					<th class="newblog-item">記事タイトル</th>
					<td class="newblog-body">
						<input type="text" name="blogTitle" th:value="${blogList.blogTitle}" class="newblog-text"
							autocomplete="off">
					</td>
				</tr>
				<tr>
					<th class="newblog-item">サブタイトル</th>
					<td class="newblog-body">
						<input type="text" name="category" th:value="${blogList.category}" class="newblog-text"
							autocomplete="off">
					</td>
				</tr>
				<tr>
					<th class="newblog-item">イメージ画像</th>
					<td class="newblog-body">
						<input type="file" name="blogImage" accept=".png, .jpg, .jpeg">
					</td>
				</tr>
				<tr>
					<th class="newblog-item">詳細</th>
					<td class="newblog-body">
						<textarea name="blogDetail" th:text="${blogList.blogDetail}" class="newblog-bigtext"
							autocomplete="off"></textarea>
					</td>
				</tr>
			</table>
			<input type="hidden" name="blogId" th:value="${blogList.blogId}">

			<div class="newblog-div">
				<button class="newblog-button">変更</button>
			</div>
		</form>
	</main>

	<footer>
		<div>
			<p>Copyright © 2023 Learner All Rights Reserved.</p>
		</div>
	</footer>
</body>

</html>