<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/newblog.css}">

</head>

<body>
	<header>
		<h1 class="logo">
			<a th:href="@{/user/blog/main}">ユーザー名を表示</a>
		</h1>
		<ul class="nav__list">
			<li class="nav__item"><a th:href="@{/user/newblog}">新規投稿</a></li>
			<li class="nav__item"><a th:href="@{/user/edit}">編集削除</a></li>
			<li class="nav__item"><a th:href="@{/user/mypage}">プロフィール</a></li>
		</ul>
		</nav>
	</header>

	<main>

		<div>
			<h1 class="newblog__title">新規投稿</h1>
		</div>
<form th:action="@{/user/blog/register/process}" method="post" enctype="multipart/form-data">
  <table class="newblog__table">
    <tr>
      <th class="newblog__item">記事タイトル</th>
      <td class="newblog__body">
        <input type="text" name="blogTitle" class="newblog__text" autocomplete="off">
      </td>
    </tr>
    <tr>
      <th class="newblog__item">サブタイトル</th>
      <td class="newblog__body">
        <input type="text" name="category" class="newblog__text" autocomplete="off">
      </td>
    </tr>
    <tr>
      <th class="newblog__item">イメージ画像</th>
      <td class="newblog__body">
        <input type="file" name="blogImage" accept=".png, .jpg, .jpeg">
      </td>
    </tr>
    <tr>
      <th class="newblog__item">詳細</th>
      <td class="newblog__body">
        <textarea name="blogDetail" class="newblog__bigtext" autocomplete="off"></textarea>
      </td>
    </tr>
  </table>
  <div class="newblog__div">
    <button type="submit" class="newblog__button">投稿</button>
  </div>
</form>


	</main>
	<footer>
		<div>
			<p>Copyright © 2023 Learner All Rights Reserved.</p>
		</div>

	</footer>

</body>
</html>