body {
    margin: 0;
    padding: 0;

    background-color: rgb(255, 247, 247);
     color: #333;

}
a {
    text-decoration: none;
    color: #333;
}
  
  /* header */
  
header {
    width: 100%;
    height: 80px;
    background-color: #ffcece;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

    /* 最上部に固定 */
    /* position: fixed; */


    top: 0;
    box-sizing: border-box;
}
.logo a {
    color: #333;
    font-size: 30px;
  }
  /* nav */
  
.nav__list {
    list-style: none;
    display: flex;
}
.nav__item a {
    padding: 10px 15px;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}
.nav__item a:hover {
    text-decoration: underline;
}

footer{
    background-color: #cc947d1a;
    text-align: center;
    margin-top: 40px;

}
